.y-dropdown{
  max-height: 200px;
  width: 100%;
  background-color: #FFF;
  overflow: auto;
  margin: 5px 0;
  padding: 5px 0;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
  position: absolute;
  z-index: 101
}
