<div class="y-pagination" data-bind="css:{'text-left':align == 'left','text-center':align == 'center','text-left':align == 'right'}">
  <ul :class="wrapClasses" :style="styles" v-else>
    <!--<span :class="[prefixCls + '-total']" v-if="showTotal">-->
        <!--<slot>{{ t('i.page.total') }} {{ total }} <template v-if="total <= 1">{{ t('i.page.item') }}</template><template v-else>{{ t('i.page.items') }}</template></slot>-->
    <!--</span>-->
    <li title="上一页" class="y-page-prev" data-bind="click: handlePrev,css:{'y-page-disable':pageIndex()<=1}">
      <a><i class="fa fa-caret-left"></i></a>
    </li>
    <li title="1" class="y-page-item" data-bind="css:{'y-page-item-cur': pageIndex() == 1},click:function(){handlePageChange(1)}"><a>1</a></li>
    <!--<li title="向前5页" data-bind="visible: currentPage() - 3 > 1" @click="fastPrev"><a><i class="ivu-icon ivu-icon-ios-arrow-left"></i></a></li>-->
    <li class="y-page-item" data-bind="attr:{title:pageIndex() - 2},visible:pageIndex() - 2 > 1,click:function(){handlePageChange(pageIndex() - 2)}"><a data-bind="text:pageIndex() - 2"></a></li>
    <li class="y-page-item" data-bind="attr:{title:pageIndex() - 1},visible:pageIndex() - 1 > 1,click:function(){handlePageChange(pageIndex() - 1)}"><a data-bind="text:pageIndex() - 1"></a></li>
    <li class="y-page-item y-page-item-cur" data-bind="attr:{title:pageIndex},visible:pageIndex() != 1 && pageIndex() != totalPage()"><a data-bind="text:pageIndex"></a></li>
    <li class="y-page-item" data-bind="attr:{title:pageIndex() + 1},visible:pageIndex() + 1 < totalPage(),click:function(){handlePageChange(pageIndex() + 1)}"><a data-bind="text:pageIndex() + 1"></a></li>
    <li class="y-page-item" data-bind="attr:{title:pageIndex() + 1},visible:pageIndex() + 2 < totalPage(),click:function(){handlePageChange(pageIndex() + 2)}"><a data-bind="text:pageIndex() + 2"></a></li>
    <!--<li :title="t('i.page.next5')" v-if="currentPage + 3 < allPages" :class="[prefixCls + '-item-jump-next']" @click="fastNext"><a><i class="ivu-icon ivu-icon-ios-arrow-right"></i></a></li>-->
    <li class="y-page-item" data-bind="css:{'y-page-item-cur': pageIndex() == totalPage()},attr:{title:totalPage},visible:totalPage() > 1,click:function(){handlePageChange(totalPage())}"><a data-bind="text:totalPage()"></a></li>
    <li title="下一页" class="y-page-next" data-bind="click: handleNext, css:{'y-page-disable':pageIndex()==totalPage()}">
      <a><i class="fa fa-caret-right"></i></a>
    </li>
    <li class="y-inline-block" style="margin-left:5px;">
      <span class="y-inline-block">每页显示</span>
      <y-select class="y-inline-block" style="width: 60px;position: relative;top:2px;vertical-align: middle" params="dataList: pageList,value:curPage,onChange:sizeChange"></y-select>
      <span class="y-inline-block">条</span>
    </li>
  </ul>
</div>
