<div class="y-input-ctn" data-bind="css:ctnClass">
  <!-- ko if: isHasForm -->
   <form data-bind="submit:handleSubmit">
    <input class="y-input" data-bind="css:{'text-right': align === 'right'},click:onClick,event:{keyup:onKeyup,blur:onBlur,input:onInput,focus: onFocus},attr:{maxlength:maxlength,type: type, placeholder:placeholder,disabled:disabled},value:value">
    <i data-bind="visible: showIcon, css:iconClass,click: handleIconClick"></i>
   </form>
  <!-- /ko -->
  <!-- ko ifnot: isHasForm -->
  <input class="y-input" data-bind="css:{'text-right': align === 'right'},click:onClick,event:{keyup:onKeyup,blur:onBlur,input:onInput,focus: onFocus},attr:{maxlength:maxlength,type: type, placeholder:placeholder,disabled:disabled},value:value">
  <i data-bind="visible: showIcon, css:iconClass,click: handleIconClick"></i>
  <!-- /ko -->
  <i class="fa fa-close y-input-clear" data-bind="visible:clearable, click:handleClose"></i>
</div>
