<div class="y-form-item" data-bind="visible:visible,css:{'y-form-validate': $parent.formValidate}">
  <label for="" class="y-form-item-label" data-bind="style:{width: $parent.labelWidth}">
    <span class="y-form-item-required" data-bind="visible:required">*</span>
    <span data-bind="text:label"></span>
  </label>
  <div class="y-form-item-ctn" data-bind="style:{'margin-left': $parent.labelWidth}">
    <div class="y-form-wrapper" data-bind="style:style">
      <!-- ko template: { nodes: $componentTemplateNodes} --><!-- /ko -->
    </div>
    <div class="y-form-item-error" data-bind="visible:validate, text:errorMsg"></div>
  </div>
</div>
