<!-- ko if: btnType==='a' -->
<a class="y-button" data-bind="css: classes, attr: {href: url, target: target}">
  <span data-bind="text:label"></span>
  <!-- ko template: { nodes: $componentTemplateNodes } --><!-- /ko -->
</a>
<!-- /ko -->

<!-- ko if: btnType!=='a' -->
<button class="y-button" data-bind="css: classes, attr: {type: btnType, disabled: disabled}, style: {opacity: loading()?0.7:1}, click: handleReClick">
  <span data-bind="visible: loading">
    <span class="fa fa-repeat y-load-loop"></span> <span data-bind="text: loadingText"></span>
  </span>
  <span data-bind="visible: !loading()">
    <span data-bind="text:label"></span>
    <!-- ko template: { nodes: $componentTemplateNodes } --><!-- /ko -->
  </span>
</button>
<!-- /ko -->
