<div class="y-grid-body" data-bind="style:gridBodyStyle,css:{'y-grid-body-lock':lockhead, 'y-grid-summary':hasSummaryRow}">
  <table cellspacing="0" cellpadding="0" border="0" data-bind="attr:{id:domId},style:{width:tableWidth,transform:fixColumnTransform},css:{'y-table-separate':isSeparate}">
    <colgroup data-bind="foreach:{data: columns,as: 'col'}">
      <col data-bind="visible: col._show, attr:{width:col.width}">
    </colgroup>
    <tbody data-bind="foreach: {data: rows, as: 'row'}, css:{'y-grid-body-verticaltop':verticalAlign === 'top'}">
      <!-- ko ifnot: row._delete -->
        <!-- ko if: $parent.hasSummaryRow-->
        <tr>
          <td style="border: none" data-bind="attr:{colspan: $parent.expandColspan()}">
            <!-- ko if: $parent.columns()[0].summaryType === 'render' -->
            <div class="y-cell y-cell-summary" data-bind="html: $parent.columns()[0].summaryFn(row)">
            </div>
            <!-- /ko -->
            <!-- ko if: $parent.columns()[0].summaryType === 'comp' || $parent.columns()[0].summaryType === 'component'-->
            <div class="y-cell y-cell-summary" data-bind="component: $parent.columns()[0].summaryFn(row)">
            </div>
            <!-- /ko -->
          </td>
        </tr>
        <!-- /ko -->
        <!-- ko ifnot: $parent.hasChildGrid -->
          <!-- ko template: {name:'y-template-tr',
            data:{
              columns: $parent.columns,
              displayMode:$parent.displayMode,
              afterRender: $parent.afterRender,
              forbitRowSelectFn: $parent.forbitRowSelectFn,
              defaultFormatText: $parent.defaultFormatText,
              rowIndex: $index(),
              row: row,
              rows: $parent.rows,
              getRowHeight: $parent.getRowHeight,
              handleClick: $parent.handleClick,
              handleMouseIn: $parent.handleMouseIn,
              handleMouseOut: $parent.handleMouseOut
            },
            afterRender: $parent.afterRender}
          -->
          <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: $parent.expand && row._expand() -->
        <tr>
            <td style="border-bottom: none" data-bind="attr:{colspan: $parent.expandColspan()}">
              <div data-bind="component: $parent.columns()[0].expandCompFn(row)">
              </div>
            </td>
          </tr>
        <!-- /ko -->
        <!-- ko if: $parent.hasChildGrid -->
        <tr>
          <td style="border-bottom: none" data-bind="attr:{colspan: $parent.expandColspan()}">
            <div data-bind="component: $parent.columns()[0].childGridFn(row)">
            </div>
          </td>
        </tr>
        <!-- /ko -->
      <!-- /ko -->
      <!-- ko if: $parent.caculateColumns && $index() ==  $parent.rows().length - 1-->
      <tr>
        <!-- ko foreach:{data: $parent.caculateColumns, as: 'col'} -->
        <td data-bind="
            visible: col._show,
            style: $parentContext.$parent.tdstyle,
            css:{'y-relative': col.type == 'operation'},
            template: {
              name: $parentContext.$parent.displayMode,
              data: {
                forbitRowSelectFn: $parentContext.$parent.forbitRowSelectFn,
                col: col,
                rowIndex: $parentContext.$index(),
                colIndex:$index(),
                defaultFormatText:$parentContext.$parent.defaultFormatText}}">
        </td>
        <!-- /ko -->
      </tr>
      <!-- /ko -->
    </tbody>
    <tbody class="y-grid-empty">
    <tr>
      <td data-bind="attr:{colspan: nodataColSpan},style:{height: noDataHeight, padding: '12px'}">
        <!-- ko ifnot: isShowLoading -->
          <!-- ko if: isNoDataCustomTpl -->
            <!-- ko template: { nodes: $componentTemplateNodes } --><!-- /ko -->
          <!-- /ko -->
          <!-- ko ifnot: isNoDataCustomTpl -->
            暂无数据
          <!-- /ko -->
        <!-- /ko -->
      </td>
    </tr>
    </tbody>
  </table>
  <div class="y-loading-letter-ctn" data-bind="visible:isShowLoading">
    <span class="l-1 y-loading-letter">L</span>
    <span class="l-2 y-loading-letter">o</span>
    <span class="l-3 y-loading-letter">a</span>
    <span class="l-4 y-loading-letter">d</span>
    <span class="l-5 y-loading-letter">i</span>
    <span class="l-6 y-loading-letter">n</span>
    <span class="l-7 y-loading-letter">g</span>
    <span class="l-8 y-loading-letter">.</span>
    <span class="l-9 y-loading-letter">.</span>
    <span class="l-10 y-loading-letter">.</span>
  </div>
</div>
