<!-- td 模板 -->
<script type="text/html" id="y-template-noType">
  <div class="y-cell" data-bind="style: col.computedStyle && col.computedStyle(row),text: defaultFormatText(row, col),css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'}">
  </div>
</script>
<script type="text/html" id="y-template-index">
  <div class="y-cell" data-bind="text: rowIndex + 1">
  </div>
</script>
<script type="text/html" id="y-template-checkbox">
  <div class="y-cell y-cell-checkbox">
    <!-- ko if: !forbitRowSelectFn(row) -->
    <y-checkbox-item class="y-grid-checkbox" params="value:row._selected(),label:'',checked:row._selected"></y-checkbox-item>
    <!-- /ko -->
  </div>
</script>
<script type="text/html" id="y-template-render">
  <div class="y-cell" data-bind="css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'},
  html: col.renderFn(row, rowIndex, col),style:col.style">
  </div>
</script>
<script type="text/html" id="y-template-component">
  <div class="y-cell y-cell-overflow-auto" data-bind="css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'},
  component: col.compFn(row, rowIndex, col),style:col.style">
  </div>
</script>
<script type="text/html" id="y-template-operation">
  <y-grid-operation params="operationList: col.operationList, row: row, col: col"></y-grid-operation>
</script>
<!-- td 模板 -->
<!-- tr 模板 -->
<script type="text/html" id="y-template-summaryRow">
  <tr>
    <td style="border: none" data-bind="attr:{colspan: expandColspan()}">
      <!-- ko if: columns()[0].summaryType === 'render' -->
      <div class="y-cell y-cell-summary" data-bind="html: columns()[0].summaryFn(row)">
      </div>
      <!-- /ko -->
      <!-- ko if: columns()[0].summaryType === 'comp' || columns()[0].summaryType === 'component'-->
      <div class="y-cell y-cell-summary" data-bind="component: columns()[0].summaryFn(row)">
      </div>
      <!-- /ko -->
    </td>
  </tr>
</script>
<script type="text/html" id="y-template-tr">
  <tr data-bind="style: {
          height: getRowHeight(rowIndex),
        },
        css:{
          'y-grid-row-hover':row._hover,
          'y-grid-row-selected':row._selected,
          'y-grid-lastrow': rowIndex > 5 && rowIndex == rows().length - 1
        },event:{
          click: function (vm, event) { return handleClick(row, event)},
          mouseenter: function (vm, event) { return handleMouseIn(row, event)},
          mouseleave: function (vm, event) { return handleMouseOut(row, event)}}">
      <!-- ko foreach:{data: columns, as: 'col'} -->
      <td data-bind="
        visible: col._show,
        style: $parent.tdstyle,
        css:{'y-relative': col.type == 'operation'},
        template: {
          name: $parent.displayMode,
          data: {
          forbitRowSelectFn: $parent.forbitRowSelectFn,
            col: col,
            rowIndex: $parent.rowIndex,
            colIndex: $index(),
            defaultFormatText:$parent.defaultFormatText
          }
        }">
      </td>
      <!-- /ko -->
  </tr>
</script>
<!-- tr 模板 -->
