.y-grid-wrapper{
  position: relative;
  border: 1px solid @border-color;
  border-bottom: 0;
  border-right: 0;
  margin-bottom: 10px;
}
.y-grid{
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: auto;
  color: #495060;
  font-size: @f-size-base;
  background-color: #fff;
  box-sizing: border-box;
  &.y-grid-border th, &.y-grid-border td{
    border-right: 1px solid @border-color;
  }
  .y-grid-operation{
    cursor: pointer;
    color: @primary-color;
    margin-right: 4px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }
  &:after, &:before {
    content: "";
    position: absolute;
    background-color: @border-color;
  }
  &:before{
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
  &:after {
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 3;
  }
  table{
    table-layout: fixed;
    width: 100%;
    tbody {
      tr.y-grid-row-hover td, tr.y-grid-row-selected td{
        background-color: #eff6fc !important;
      }
      .y-grid-checkbox{
        opacity: 0;
        transition: opacity .2s ease-in-out;;
      }
      tr.y-grid-row-hover .y-grid-checkbox, tr.y-grid-row-selected .y-grid-checkbox{
        opacity: 1;
      }
    }
    th{
      height: 40px;
      white-space: nowrap;
      overflow: hidden;
      background-color: #f5f5f5;
      font-weight: normal;
    }
    td{
      background-color: #fff;
      transition: background-color .2s ease-in-out;
    }
    th,td{
      min-width: 0;
      height: 44px;
      box-sizing: border-box;
      text-align: left;
      text-overflow: ellipsis;
      vertical-align: middle;
      color: @f-color-dark;
      border-bottom: 1px solid @border-color;
    }
    .y-cell{
      padding-left: 18px;
      padding-right: 18px;
      line-height: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      word-break: break-all;
      box-sizing: border-box;
    }
    .y-grid-head .y-cell{
      line-height: 16px;
    }
    .y-cell-overflow-auto{
      overflow: visible;
    }
  }
}
.y-grid-stripe .y-grid-body tr:nth-child(2n) td{
  background-color: #f8f8f9;
}
.y-grid-empty{
  display: none;
  td{
    border-bottom:none !important;
    text-align: center !important;
  }
}
.y-grid-body table tbody:not(.y-grid-empty):empty+.y-grid-empty {
  display: table-row-group;
}
