<div class="y-grid-head">
  <table  cellspacing="0" cellpadding="0" border="0">
    <colgroup data-bind="foreach:{data: columns,as: 'col'}">
      <col data-bind="visible: !col.hidden, attr:{width:col.width}">
    </colgroup>
    <thead>
      <tr data-bind="foreach:{data: columns,as: 'col'}">
        <th>
          <div class="y-cell" data-bind="text:col.title,css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'}">
          </div>
        </th>
      </tr>
    </thead>
  </table>
</div>
