<div class="y-grid-head" data-bind="css:{'y-grid-head-lock':lockhead}">
  <table  cellspacing="0" cellpadding="0" border="0" data-bind="style:{width:tableWidth}">
    <colgroup data-bind="foreach:{data: columns,as: 'col'}">
      <col data-bind="visible: col._show, attr:{width:col.width}">
    </colgroup>
    <thead>
      <tr data-bind="foreach:{data: columns,as: 'col'}">
        <th data-bind="visible: col._show">
          <!-- ko if: col.type == 'checkbox' -->
          <div class="y-cell" style="position: relative;top: 2px;">
            <y-checkbox-item class="y-grid-checkbox" params="value:'',label:'',checked:$parentContext.$parent.allRowChecked"></y-checkbox-item>
          </div>
          <!-- /ko -->
          <!-- ko ifnot: col.type == 'checkbox' -->
          <div class="y-cell" data-bind="html:col.title,css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'}">
          </div>
          <!-- /ko -->
        </th>
      </tr>
    </thead>
  </table>
</div>
