<div class="y-grid-head" data-bind="css:{'y-grid-head-lock':lockhead},let:{allRowChecked:allRowChecked},style:{width:outterWidth}">
  <table  cellspacing="0" cellpadding="0" border="0" data-bind="style:{width:tableWidth,transform:headtransform}">
    <colgroup data-bind="foreach:{data: columns,as: 'col'}">
      <col data-bind="visible: col._show, attr:{width:col.width}">
    </colgroup>
    <thead>
      <!-- ko if: columns1().length == 0 -->
      <tr data-bind="foreach:{data: columns,as: 'col'}">
        <th data-bind="click: $parent.handleSort, visible: col._show,css:{'y-cell-sortable': col.sort}">
          <!-- ko if: col.type == 'checkbox' -->
          <div class="y-cell y-cell-checkbox" style="position: relative;top: 2px;">
            <y-checkbox-item class="y-grid-checkbox" params="value:'',label:'',checked:allRowChecked"></y-checkbox-item>
          </div>
          <!-- /ko -->
          <!-- ko ifnot: col.type == 'checkbox' -->
          <!-- ko if: typeof col.title == 'function'-->
            <div class="y-cell" data-bind="text: col.title(),css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'}"></div>
          <!-- /ko -->
          <!-- ko ifnot: typeof col.title == 'function' -->
          <div class="y-cell" data-bind="css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'}">
            <span data-bind="html:col.title"></span>
            <!-- ko if:col.sort -->
              <i class="fa fa-sort-asc"></i>
              <i class="fa fa-sort-desc" style="position:relative;left: -11px;"></i>
            <!-- /ko -->
          </div>
          <!-- /ko -->
          <!-- /ko -->
        </th>
      </tr>
      <!-- /ko -->
      <tr data-bind="foreach:{data:columns1, as: 'col'}">
        <th data-bind="attr:{rowspan:col.rowspan || 1,colspan:col.colspan || 1}">
          <!-- ko if: typeof col.title == 'function'-->
          <div class="y-cell" data-bind="html:col.title(),css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'}">
          </div>
          <!-- /ko -->
          <!-- ko ifnot: typeof col.title == 'function' -->
          <div class="y-cell" data-bind="html:col.title,css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'}">
          </div>
          <!-- /ko -->
        </th>
      </tr>
      <tr data-bind="foreach:{data:columns2, as: 'col'}">
        <th>
          <!-- ko if: typeof col.title == 'function'-->
          <div class="y-cell" data-bind="text:col.title(),css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'}">
          </div>
          <!-- /ko -->
          <!-- ko ifnot: typeof col.title == 'function' -->
          <div class="y-cell" data-bind="html:col.title,css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'}">
          </div>
          <!-- /ko -->
        </th>
      </tr>
    </thead>
  </table>
</div>
