<div>
  <div class="y-grid-wrapper">
    <div class="y-grid" data-bind="css:{'y-grid-stripe':isStripe,'y-grid-border': isTableBorder},style:{height:maxheight,minHeight:minheight}">
      <y-grid-head params="columns:columns,allRowChecked:allRowChecked,tableWidth:tableWidth"></y-grid-head>
      <y-grid-body params="tableWidth:tableWidth,rowspan:rowspan,domId:domId,expand:expand,maxheight:maxheight, isDataTable:isDataTable, columns:columns, rows:rows, onRowSelect:onRowSelect">
      </y-grid-body>
    </div>
  </div>
  <!-- ko if: pagination -->
  <y-pagination data-bind="visible: isShowPagination" params="onSizeChange:onSizeChange,onPageChage:onPageChange,pageSize: pageSize, totalCount: totalCount, pageIndex: pageIndex"></y-pagination>
  <!-- /ko -->
</div>
