<div class="y-cell">
  <div data-bind="foreach: {data: dataList, as: 'col'}">
    <!-- ko if: col.type -->
      <!-- ko if: col.type == 'render' -->
        <div class="text-left" data-bind="html: col.renderFn(row),style:col.style">
        </div>
      <!-- /ko -->
      <!-- ko if: col.type == 'component' -->
        <div class="text-left" data-bind="component: col.compFn(row),style:col.style">
        </div>
      <!-- /ko -->
    <!-- /ko -->
    <!-- ko ifnot: col.type -->
      <div class="text-left" data-bind="text: $parent.defaultFormatText($parent.row, col)"></div>
    <!-- /ko -->
  </div>
</div>
