<!-- ko if: operationList().length < 4 -->
<div class="y-cell" data-bind="foreach:{data:operationList, as: 'item'}">
  <span class="y-grid-operation" data-bind="click:$parent.operClick, text:item.title"></span>
</div>
<!-- /ko -->
<!-- ko if: operationList().length > 3 -->
<div class="y-cell">
  <!-- ko foreach: {data:quickList, as: 'item'} -->
  <span class="y-grid-operation" data-bind="click:$parent.operClick, text:item.title"></span>
  <!-- /ko -->
  <div class="y-inline-block y-grid-operation-morectn">
    <span class="y-grid-operation">更多</span>
    <span class="fa fa-sort-down"></span>
    <ul class="y-grid-operation-more" data-bind="foreach:{data:moreList, as: 'item'}">
      <li class="y-grid-stoprowselect" data-bind="click:$parent.operClick, text:item.title"></li>
    </ul>
  </div>
</div>
<!-- /ko -->
