<!-- ko if: col.type == 'index' -->
<!-- 索引列 -->
<div class="y-cell" data-bind="text: rowIndex + 1">
</div>
<!-- /ko -->
<!-- ko if: col.type == 'checkbox' -->
<div class="y-cell y-cell-checkbox">
  <!-- ko if: !forbitRowSelectFn(row) -->
  <y-checkbox-item class="y-grid-checkbox" params="value:row._selected(),label:'',checked:row._selected"></y-checkbox-item>
  <!-- /ko -->
</div>
<!-- /ko -->
<!-- ko if:col.type == 'render' -->
  <div class="y-cell" data-bind="css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'},
  html: col.renderFn(row, rowIndex, col),style:col.style">
  </div>
<!-- /ko -->
<!-- ko if:col.type == 'component' || col.type == 'comp' -->
  <div class="y-cell y-cell-overflow-auto" data-bind="css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'},
  component: col.compFn(row, rowIndex, col),style:col.style">
  </div>
<!-- /ko -->
<!-- ko if:col.type == 'operation' -->
  <y-grid-operation params="operationList: col.operationList, row: row, col: col"></y-grid-operation>
<!-- /ko -->
<!-- ko ifnot: col.type-->
  <!-- ko ifnot: isDataTable -->
  <div class="y-cell" data-bind="style: col.computedStyle && col.computedStyle(row),text: defaultFormatText(),css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'}">
  </div>
  <!-- /ko -->
  <!-- ko if: isDataTable -->
  <div class="y-cell" data-bind="style: col.computedStyle && col.computedStyle(row),text: defaultFormatText(),css:{'text-left':col.align == 'left','text-right':col.align == 'right','text-center':col.align == 'center'}">
  </div>
  <!-- /ko -->
<!-- /ko -->
