<div class="y-relative">
  <div data-bind="nullValueDisplay:limitText,style:style, css:{'y-showdetail-single':!multiple,
  'y-showdetail-multiple': multiple}">
  </div>
  <div class="y-text-link" data-bind="visible:visible,css:{'y-showdetail-singlemore':!multiple,
  'y-showdetail-multiplemore': multiple}">
    <y-tooltip params="title: title">
      <y-tooltipctn params="targetEl:$el,show:isShow,position:'bottomleft'">
        <div data-bind="html:$parentContext.$parent.text"></div>
      </y-tooltipctn>
    </y-tooltip>
    <span class="fa fa-angle-down"></span>
  </div>
</div>
