<div class="y-relative">
  <div data-bind="nullValueDisplay:text,style:style"
       style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
  </div>
  <div style="position:absolute;right: 0;top:0;" class="y-text-link" data-bind="visible:visible">
    <y-tooltip params="title:'详细'">
      <y-tooltipctn params="targetEl:$el,show:isShow,position:'bottomleft'">
        <div data-bind="text:$parentContext.$parent.text"></div>
      </y-tooltipctn>
    </y-tooltip>
    <span class="fa fa-angle-down"></span>
  </div>
</div>
