<div class="y-day-ctn">
  <div class="y-day-header">
    <span class="lastyear" data-bind="click: lastyear">&lt;&lt;</span>
    <span class="lastmonth" data-bind="click: lastmonth">&lt;</span>
    <span class="yearandmonth">
      <span data-bind="text: showYear, click: chooseyear"></span>
      <span data-bind="text: showMonth, click: choosemonth"></span>
    </span>
    <span class="nextmonth" data-bind="click: nextmonth">&gt;</span>
    <span class="nextyear" data-bind="click: nextyear">&gt;&gt;</span>
  </div>
  <table class="y-day-body">
    <tr style="color: #bbb;">
      <td data-bind="text: i18nSun">日</td>
      <td data-bind="text: i18nMon">一</td>
      <td data-bind="text: i18nTue">二</td>
      <td data-bind="text: i18nWed">三</td>
      <td data-bind="text: i18nThu">四</td>
      <td data-bind="text: i18nFri">五</td>
      <td data-bind="text: i18nSat">六</td>
    </tr>
    <!-- ko foreach: { data: rows(), as: 'row' } -->
    <tr data-bind="foreach: { data: row, as: 'cell' }">
      <td data-bind="click:function(){$parent.handleDayClick(cell)},css:{disable:cell.disabled,nextmonth:cell.type=='next-month',prevmonth:cell.type=='prev-month',today: cell.type=='today',selectedDay: $parent.isSelectedDay(cell.type, cell.text)}">
         <div data-bind="text:cell.text"></div>
      </td>
    </tr>
    <!-- /ko -->
  </table>
</div>
