.y-switch {
  display: inline-block;
  position: relative;
  font-size: 12px;
  width: 38px;
  height: 22px;
  line-height: 1;
}

.y-switch input {
  display: none;
}

.y-switch input:checked+i:before {
  border-color: #339900;
  -webkit-box-shadow: #339900 0 0 0 16px inset;
  box-shadow: #339900 0 0 0 16px inset;
  background-color: #339900;
  transition: background-color .4s;
  -webkit-transition: background-color .4s;
}
.y-switch input:checked+i:after {
  left: 20px;
}
.y-switch i {
  width: 38px;
  height: 20px;
  position: absolute;
  z-index: 2;
  border: 0;
  background: none;
  outline: 0;
}
.y-switch i:before {
  content: '';
  width: 38px;
  height: 20px;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: top;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-shadow: #dfdfdf 0 0 0 0 inset;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  -webkit-transition: border .4s, background-color .4s;
  transition: border .4s, background-color .4s;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
.y-switch i:after {
  content: '';
  width: 21px;
  height: 21px;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: left .2s;
  transition: left .2s;
}