.y-box-filter {
  padding: 10px 20px 10px;
  margin-bottom: 10px;
  border: solid 1px @border-color;
  background-color: #FFF;
  min-height: 54px;
  .y-box-filter-title {
    font-size: @f-size-md;
    font-weight: normal;
    line-height: 32px;
    margin-right: 20px;
    color: @f-color-dark;
  }
}
