.y-breadcrumb {
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0 10px 0;
}
.y-breadcrumb a{
    color:#0377c1 !important;
}
.y-breadcrumb a:hover{
    text-decoration: underline;
}
.y-breadcrumb span{
    color:#333;
}
.y-breadcrumb i{
    padding: 0 4px;
}
.y-breadcrumb span:after {
    content: "\f005";
    color: rgb(252,196,73);
    padding:0 6px ;
    font-family:FontAwesome;
}