<div class="y-breadcrumb">
    <span data-bind="foreach: { data: exceptLastRowArr, as: 'row' }">
        <!-- ko if: row.link -->
        <a data-bind="attr:{href:row.link},text:row.text"></a>
        <span class="y-breadcrumb-separate" data-bind="text:$parent.separator"></span>
        <!-- /ko -->
        <!-- ko if: !row.link -->
        <span data-bind="text:row.text"></span>
        <span class="y-breadcrumb-separate" data-bind="text:$parent.separator"></span>
        <!-- /ko -->
    </span>
    <span class="y-breadcrumb-last">
        <span data-bind="text:lastRow.text"></span>
    </span>
</div>