.y-select-placeholder,.y-select-single{
  color: @f-color-placeholder;
  line-height: 30px;
}
.y-select-single{
  color: @f-color-dark;
}
.y-select-arrow{
  position: absolute;
  top: 50%;
  right: 8px;
  line-height: 1;
  margin-top: -7px;
  font-size: 14px;
  color: #80848f;
  transition: all .2s ease-in-out;
}
.y-input.y-select-ctn{
  padding: 0 6px;
  height: auto;
  min-height: 30px;
}
.y-select-ctn:hover .y-select-showdrop{
  display: none;
}
.y-select-ctn .fa-close,.y-select-showclose{
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.y-select-ctn:hover .y-select-showclose{
  opacity: 1;
}
.y-select-ctn .y-tag{
  margin: 3px 2px 2px 0;
}
.selected {
  .y-select-ctn {
    box-shadow: 0 0 0 2px rgba(45, 140, 240, .2)
  }
  .y-select-arrow{
    transform: rotate(-180deg);
  }
}
.y-option{
  margin: 0;
  line-height: normal;
  padding: 8px 16px;
  clear: both;
  color: #333;
  font-size: 12px!important;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  transition: background .2s ease-in-out;
  &:hover{
    background: #f3f3f3;
  }
  &.y-selected-item{
    background: @primary-color;
    color: #FFF;
  }
  &.y-selected-multiItem{
    color: @primary-color;
  }
}

