<ul data-bind="foreach: { data: data(), as: 'row' }" class="y-casitem">
  <li data-bind="click: function(){ return $parent.expandChild(event, $data, $index())}, css:{active:$index() == $parent.activeIndex()}" class="y-casitem-item">
    <span data-bind="text:row.name"></span>
    <!-- ko if: !$parent.isLoading(row.isLoading) && row.children && row.children.length > 0 -->
    <i class="fa fa-angle-right"></i>
    <!-- /ko -->
    <!-- ko if: $parent.isLoading(row.isLoading) -->
    <i class="fa fa-spinner y-casitem-isloading"></i>
    <!-- /ko -->
  </li>
</ul>
<!-- ko if: subList().length > 0 -->
<y-casitem params="data: subList, selectedValue: selectedValue, loadData: loadData, casitmevisible: casitmevisible" class="y-casitem-fix"></y-casitem>
<!-- /ko -->
