<div class="cascader-searchbox cascader-searchboxIteam" data-bind = "attr: {'id': 'cascader-searchboxIteam' + parentId}">
  <ul class="cascader-list" data-bind = "foreach: {'data': data, 'as': 'row'}">
      <li class="cascader-iteam" data-bind = "event:{mouseover:function(){ $parent.mouseover(row,event)}}">
        <div class="clearfix" data-bind = " click:function() {$parent.clickCallbk(row)},clickBubble: false">
          <span data-bind = "text: row.name,clickBubble: false"></span>
          <span class="fa fa-angle-right" data-bind = "visible: row.children && row.children.length > 0 "></span>   
        </div>
        <!-- ko if: row.children && row.children.length > 0-->
          <y-cascader-search-iteam params = "data:row.children, parentId: row.id, callback: $parent.callback"></y-cascader-search-iteam>
        <!-- /ko -->
      </li>
  </ul>
</div>