<div class="cascader-warp clearfix" style="width: auto;">
  <div class="cascader-searchbox"  data-bind = "event:{'mouseout': mouseout},mouseoutBubble:false">
    <ul class="cascader-list" data-bind = "foreach: {'data': data, 'as': 'row'}">
      <li class="cascader-iteam cascader-iteam1" data-bind = "event:{mouseover:function(){ $parent.mouseover(row,event)}}">
        <div class="clearfix" data-bind = " click:function() {$parent.clickCallbk(row)},clickBubble: false">
          <span data-bind = "text: row.name">第一级分类3</span>
          <span class="fa fa-angle-right" data-bind = "visible: row.children && row.children.length > 0 "></span>
        </div>
        <!-- ko if: row.children && row.children.length > 0-->
          <y-cascader-search-iteam params = "data:row.children, parentId: row.id, callback: $parent.callback"></y-cascader-search-iteam>
        <!-- /ko -->
      </li>
    </ul>
  </div>
</div>
