<div data-bind="transferdom,if:isShow,visible:visible" style="display: none">
  <div class="y-modal-mask"></div>
  <div class="y-modal-wrap" data-bind="click:handleClose,css:{animated: visible, fadeInUp: visible}">
    <div class="y-modal" data-bind="style:{width:width,top:top}">
      <div class="y-modal-ctn">
        <div class="y-modal-head">
          <span class="y-modal-head-title" data-bind="text:title"></span>
        </div>
        <div class="y-modal-body" data-bind="style:{maxHeight:bodyMaxHeight}">
          <!-- ko template: { nodes: $componentTemplateNodes } --><!-- /ko -->
        </div>
        <div class="y-modal-foot">
          <span class="y-modal-error-msg" data-bind="text:errormsg"></span>
          <!-- ko if: showDelete -->
          <y-button params="type:'error', click: handleDelete" class="pull-left"><span data-bind="text: $parent.textDelete">删除</span></y-button>
          <!-- /ko -->
          <!-- ko if: textClear-->
          <y-button params="type:'primary', click: handleClear"><span data-bind="text: $parent.textClear">清空</span></y-button>
          <!-- /ko -->
          <y-button params="type:'primary', click: handleOk"><span data-bind="text: $parent.textOk"></span></y-button>
          <y-button params="type:'ghost', click: handleCancel">取消</y-button>
        </div>
      </div>
    </div>
  </div>
</div>
