<div data-bind="transferdom,visible:visible">
  <div class="y-modal-mask"></div>
  <div class="y-modal-wrap" data-bind="click:handleClose,css:{animated: visible, fadeInUp: visible}">
    <div class="y-modal" data-bind="style:{width:width,top:top}">
      <div class="y-modal-ctn">
        <div class="y-modal-head">
          <span class="y-modal-head-title" data-bind="text:title"></span>
        </div>
        <div class="y-modal-body" data-bind="style:{maxHeight:bodyMaxHeight}">
          <!-- ko template: { nodes: $componentTemplateNodes } --><!-- /ko -->
        </div>
        <div class="y-modal-foot">
          <sapn class="y-modal-error-msg" data-bind="text:errormsg"></sapn>
          <y-button params="type:'primary', click: handleOk">确定</y-button>
          <y-button params="click: handleCancel">取消</y-button>
        </div>
      </div>

    </div>
  </div>
</div>
