@primary-color  : #1baede;
@danger-color: #f15c50;
@f-color-dark   : #333;
@f-color-normal : #666;
@f-color-light  : #999;
@f-color-placeholder: #999;
@f-size-base: 13px;
@f-size-xs: 12px;
@f-size-sm: 14px;
@f-size-md: 16px;
@f-size-lg: 18px;

body{
  font-size: @f-size-base;
}
a:hover,a:active,a:focus{
  text-decoration: none;
}
i{
  font-style: normal;
}
