@primary-color  : #1baede;
@danger-color: #f15c50;
@f-color-dark   : #333;
@f-color-normal : #666;
@f-color-light  : #999;
@f-color-placeholder: #999;
@f-size-base: 13px;

a:hover,a:active,a:focus{
  text-decoration: none;
}
