<div style="position: relative">
  <div class="y-datepicker-input">
    <input type="text" class="y-input" data-bind="{value:data,event:{focus:focus},attr:{'placeholder': placeholder}}">
    <span class="fa fa-calendar"></span>
  </div>
  <y-dropdown params="targetEl:$el,isShow:isPopup, width:'240', maxHeight: '258', overflow:'hidden'">
    <div class="y-datepicker-ctn" data-bind="css:{'select-date': $parent.isPopup, 'isTimer': $parent.isTimer, 'alignright': $parent.alignright}">
      <div class="y-datepicker-header">
      </div>
      <div class="y-datepicker-footer">
        <y-datepicker-year params="year: $parent.year,showmonth:$parent.showmonth,$parent.showyear:$parent.showyear" class="hide" data-bind="css:{'show':$parent.showyear}"></y-datepicker-year>
        <y-datepicker-month params="year: $parent.year, month: $parent.month,showday:$parent.showday,showmonth:$parent.showmonth, showyear:$parent.showyear" class="hide" data-bind="css:{'show':$parent.showmonth}"></y-datepicker-month>
        <y-datepicker-day params="minDate: $parent.minDate,maxDate:$parent.maxDate,hour:$parent.hour,minutes:$parent.minutes,seconds:$parent.seconds,isTimer:$parent.isTimer, data: $parent.data,year: $parent.year, month: $parent.month, day: $parent.day,showday:$parent.showday, showyear:$parent.showyear,showmonth:$parent.showmonth" class="hide" data-bind="css:{'show':$parent.showday}"></y-datepicker-day>
        <y-datepicker-timer params="hour:$parent.hour,minutes:$parent.minutes,seconds:$parent.seconds, showtimer:$parent.showtimer" ></y-datepicker-timer>
        <div class="y-datepicker-option">
          <div class="curdate" data-bind="click:$parent.choosenow">
            <span class="fa fa-arrows"></span>
          </div>
          <div class="timer-picker" data-bind="click:$parent.timerpanel">
            <span class="fa fa-clock-o" data-bind="css:{'fa-calendar':$parent.showtimer}"></span>
          </div>
          <div class="confirmbutton pull-right" data-bind="click:$parent.confirm">确定</div>
        </div>
      </div>
      <div class="y-datepicker-mask" data-bind="click:$parent.maskClick"></div>
    </div>
  </y-dropdown>
</div>
