<div class="y-group-button">
  <button class="y-button y-button-primary y-add-button" data-bind="click:mainClick">
    <!-- ko template: { nodes: $componentTemplateNodes } --><!-- /ko -->
  </button>
  <button class="y-button y-button-primary y-dropdown-toggle" data-bind="click:showdropdown">
    <span class="fa fa-sort-down"></span>
  </button>
  <y-dropdown params="width:dropWidth, isShow:isShowDrop,isStopTransferDom:true">
    <ul data-bind="foreach:{data: $parent.dropList, as: 'item'}">
      <li class="y-item-li" data-bind="text:label,event:{click:function(){$parentContext.$parent.handleOptClick(item)}}"></li>
    </ul>
  </y-dropdown>
</div>
