<div class="y-group-button" data-bind="clickoutside: handleHideDrop">
  <button class="y-button y-button-primary y-group-default" data-bind="click:mainClick">
    <!-- ko template: { nodes: $componentTemplateNodes } --><!-- /ko -->
  </button>
  <button class="y-button y-button-primary y-dropdown-toggle" data-bind="click:showdropdown">
    <span class="fa fa-sort-down" style="position: relative;top: -2px;"></span>
  </button>
  <div data-bind="let: {handleOptClick:handleOptClick, dropList:dropList}">
    <y-dropdown params="width:dropWidth, isShow:isShowDrop,targetEl:$el">
      <ul data-bind="foreach:{data: dropList, as: 'item'}">
        <li class="y-drop-item" data-bind="text:label,click:handleOptClick"></li>
      </ul>
    </y-dropdown>
  </div>
</div>
