<div class="y-grid-wrapper" style="margin-bottom: 0">
  <div class="y-grid">
    <y-grid-head params="columns:columns"></y-grid-head>
  </div>
</div>
<y-grid params="
  isDataTable: isDataTable,
  hasChildGrid: true,
  rows: rows,
  columns: columns,
  isSeparate:true,
  minheight: minheight,
  maxheight: 'auto',
  onSizeChange:onSizeChange,
  onPageChange:onPageChange,
  pagination: pagination,
  totalCount: totalCount,
  nohead: true,
  hasSummaryRow: true,
  pageSize: pageSize,
  pageIndex: pageIndex,
  isStripe: false">
</y-grid>
