<span class="y-poptip" data-bind="css: trigger=='hover'?'trigger-hover':''">
  <span class="element" data-bind="event:{click: handleClick, mouseenter:handleHover, mouseout: handleHover}">
    <!-- ko if: question -->
    <span class="fa fa-question-circle y-text-link"></span>
    <!-- /ko -->
    <!-- 其它元素 -->
    <!-- ko template: { nodes: $componentTemplateNodes} --><!-- /ko -->

    <!-- title span -->
    <!-- ko if: !hasMarkup() -->
    <span data-bind="html: title"></span>
    <!-- /ko -->
  </span>
  <div class="y-poptip-ctn" data-bind="css: thisClass, style: trigger=='hover'? {}:{opacity: visible, zIndex: (visible()?'1000':'-1')}">
    <div class="y-poptip-arrow"></div>
    <div class="y-poptip-cover"></div>
    <div class="y-poptip-ctn-inner" data-bind="html: title"></div>
  </div>
</span>
