.y-tree {
  overflow: auto;
  .y-checkbox-item {
    margin-right: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: @f-size-base;
    li {
      font-size: @f-size-sm;
      list-style: none;
      margin: 8px 0;
      padding: 0;
      white-space: nowrap;
      outline: 0;
      ul {
        margin: 0;
        padding: 0 0 0 18px;
        display: none;
      }
      ul.y-tree-icon-expand {
        display: block;
      }
      &:hover > .y-tree-extra {
        display: inline-block;
      }
    }
    .y-tree-title {
      display: inline-block;
      margin: 0;
      padding: 2px 4px;
      border-radius: 3px;
      cursor: pointer;
      line-height: 18px;
      vertical-align: top;
      color: @f-color-dark;
      transition: all .2s ease-in-out;
      &:hover {
        background-color: #d5e8fc;
      }
      &.y-tree-node-selected {
        background-color: #d5e8fc;
        font-size: @f-size-md;
      }
    }
    .y-tree-extra {
      display: none;
      margin: 0;
      padding: 2px 4px;
      border-radius: 3px;
      cursor: pointer;
      line-height: 18px;
      vertical-align: top;
      color: @primary-color;
    }
    .y-tree-node-selected ~ .y-tree-extra {
      display: inline-block;
    }
    .y-tree-icon {
      transition: all .2s ease-in-out;
      width: 20px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      padding: 0 4px;
      .fa {
        position: relative;
        top: 2px;
        font-size: 16px;
      }
    }
    .y-tree-isloading {
      animation: rotating 1.2s linear infinite
    }
    @keyframes rotating {
      from {transform:rotate(0)}
      to {transform:rotate(360deg)}
    }
  }
}
