<div class="y-treenode">
    <li>
      <span class="y-tree-icon" data-bind="click:handleExpand,css:{'y-tree-icon-expand':expanded}">
        <!-- ko if: isShowExpanIcon -->
        <i class="fa fa-caret-right"></i>
        <!-- /ko -->
        <!-- ko if: isLoading -->
        <i class="y-tree-isloading fa fa-spinner"></i>
        <!-- /ko -->
      </span>
      <span class="y-tree-title" data-bind="click:handleClickNode, text:data().name,css:{'y-tree-node-selected':isNodeSelected}"></span>
      <!-- ko if: data().children && data().children.length > 0 -->
      <ul data-bind="foreach: {data:data().children, as:'item'},css:{'y-tree-icon-expand':expanded}">
        <y-treenode params="data:item,loadData:$parent.loadData,expand:$parent.expand,selectedItem: $parent.selectedItem">
        </y-treenode>
      </ul>
      <!-- /ko -->
    </li>
  </ul>

</div>
